<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <header>
        <nav>
            <a href="/">Home</a> |
            <a href="blog">Main Blog Page</a> | 
            <a href= "newblog">Add a Blog</a> | 
            {% if session.get("username") != None %}
            <a href= "logout">Logout</a> | Welcome {{ session["username"] }}
            {% else %}
            <a href= "login">Login</a>
            {% endif %}
            <!-- <a href= "login">Logout</a> | -->
            <!-- <a href="/js/">JavaScript</a> |
            <a href="/jquery/">jQuery</a> -->
          </nav>
    </header>
    <body>

    {% block content %}
    {% endblock %}

</body>
</html>