{% extends "base.html" %}

{% block content %}
    <h1>Blogz</h1>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        {% for blog in blogs %}
        <div>
            
            <input type="hidden" name="{{blog.id}}" id="{{blog.id}}">
            {% for user in users%}
                {% if user.id == blog.owner_id %}
                    <h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a> by - <a href="/blog?owner_id={{user.id}}">{{ user.username }}</a></h2>
                    <p>{{blog.body}}</p>
                {% endif %}


            {% endfor %}
        </div>
        <hr />
        {% endfor %}

    {% endif %}

{% endblock %}